<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me!</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hiya there! My name's Breanna and welcome to my portfolio!</p>
        <p>I am currently a third year computer science student studying at John Abbott College.</p>
        <p>I was first introduced to programming back when I was in grade five. I was apart of an afterschool program where we tried out a bunch of new things, which included coding lego robots to dance.</p>
        <p>My next introduction was in grade nine, when I was put in a computer programming class. It was in this class, as I coded silly little games, that I realized how much I enjoyed programming and wanted to pursue it as a career.</p>
        <p>This lead to me applying to a computer science program, and I have since spent the past couple years learning about all different sorts of languages and elements that make up computer science.</p>
        <br>
        <p>Outside of compsci, there are a few things I'm interested in.</p>
        <p>I am a huge reader and almost never leave the house without at least one book in hand. My favourite genres are probably fantasy and dystopian.</p>
        <p>I also enjoy many sports. I have tried out a lot of different ones, but the ones I enjoyed the most were soccer, volleyball, and synchronized swimming. Compared to when I was younger, I don't play half as many as I used to, but I treasure the moments I am able to play them again.</p>
      </div>
    </div>
  </div>
</section>
